/**
 * Pages / Post
 * Content.scss
 */

@use "../scopes" as scope;
@use "../../0-abstracts/" as *;
@use "../../1-base/typography" as *;
@use "../../2-components/" as *;
@use "../../3-layout/container" as *;

#{scope.$post} {

p + p {
  margin-top: 16px;
}

p + strong {
  margin-top: 16px;
}

p strong {
  display: block;
}


.post-content {
  @include flex($justify: center);

  .sheet {
    @include wh(
      96%,
      null,
      1700
    );
    @include bg(
      "texture.png",
      contain,
      $repeat: repeat
    );
    @include padding(y, (64, 80)); 
  }

  .meta {
    margin-bottom: 24px;

    .container {
      @include flex(row, center, space-between);
    }

    .categories {
      @include flex(row, $align: center, $gap: 4);
    }
  }

  .excerpt {
    @extend .body-large;
  }

  .cover {
    @include margin(y, 56);
    
    figure {
      background-color: var(--color-accent-7);
      border-radius: 20px;
      position: relative;
      overflow: hidden;

      @include pseudo("after"){ @extend .loader; }
    }
    
    img {
      @include pos($pos: relative, $z: 10); 
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }

  .main-content {
    p {
      @extend .body-regular;
      @include padding(x, 56);
    }

    h2 {
      @extend .title, .title-2;
      @include margin(y, (64, 24));
      @include padding(x, 56);
    }

    h3 {
      @extend .title, .title-3;
      @include margin(y, (64, 24));
      @include padding(x, 56);
    }

    h4 {
      @extend .title, .title-4;
      @include margin(y, (64, 24));
      @include padding(x, 56);
    }

    h5 {
      @extend .title, .title-5;
      @include margin(y, (64, 24));
      @include padding(x, 56);
    }

    .wp-block-image {
      @include margin(y, 56);
      background-color: var(--color-accent-7);
      overflow: hidden;
      position: relative;
      transition: all 120ms;

      img {
        @include pos($pos: relative, $z: 10);
        cursor: zoom-in;
      }

      @include pseudo("after"){ @extend .loader; }

      &:not(.wp-block-gallery .wp-block-image) {
        border-radius: 20px;
  
        &:hover {
          transition: all 120ms;
          transform: scale(1.01);
        }
      }
    }

    .wp-block-gallery {
      @include flex(row, $gap: 8);

      figure:first-child {
        @include border(
          $radius: (l, 20)
        ); 
      }

      figure:last-child {
        @include border(
          $radius: (r, 20)
        ); 
      }

      &.is-hovered {
        .wp-block-image img {
          opacity: .7;
          transition: all 120ms;
        }
        
        .wp-block-image:hover {
          transform: scale(1.02);
          transition: all 120ms;

          img {
            opacity: 1;
            transition: all 120ms;
          }
        }
      }
    }

    .button-download {
      margin: 32px auto 40px;
      @include font(
        24, 24, -.11, 700,
        var(--color-text-primary),
        $font-secondary,
        uppercase
      );

      @include wh(100%, 80px, calc(100% - 56px * 2));
      @include flex(row, center, center, 8);
      border-radius: 20px;
      background-color: var(--color-accent-6);
      position: relative;
      transition: all 100ms;

      &:hover {
        background-color: var(--color-accent-5);
        transform: scale(1.01);
        transition: all 100ms;
      }

      @include pseudo() {
        @include wh(24, 24);
        @include bg("icons/arrow-down-circle.svg", cover);
      }

      @include pseudo("after") {
        @include wh(
          calc(100% + 16px),
          calc(100% + 16px)
        );
        @include pos(-8, $l: -8);
        @include border(3, transparent, 24);
        border-image-source: url("#{$assets}border-download-button.svg");
        border-image-width: auto;
        border-image-slice: 23%;
        border-image-repeat: round;
      }
    }
  }
}

}