/**
 * Pages / Post
 * Modal.scss
 */

@use "../scopes" as scope;
@use "../../0-abstracts/" as *;
@use "../../2-components/" as *;

#{scope.$post} {

.modal-post-image {
  cursor: zoom-out;
  @include flex(row, center, center);
  @include pos(
    $pos: fixed,
    $inset: 0,
    $z: 1000
  );

  @include pseudo(){ @extend .loader; }
  
  visibility: hidden;
  opacity: 0;
  transition: all 160ms;

  @include bg(
    "texture.png",
    cover,
    var(--color-background-site)
  );

  img {
    opacity: 0;
    transition: opacity 160ms;
    border-radius: 24px;
    @include pos($pos: relative, $z: 10);
    
    @include wh(
      null, null,
      $container-width, 90%
    );

    &.visible {
      opacity: 1;
      transition: opacity 160ms;
    }
  }

  .loader {
    opacity: 0;
    
    &.visible {
      opacity: 1;
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: all 160ms;
  }
}

}