/**
 * Components
 * Chips.scss
 */

@use "../0-abstracts/" as *;
@use "../1-base/typography" as *;

.chip {
  transition: all 120ms;

  &.chip-small {
    @extend .label-small;
    @include padding(all, (0, 6));
    border: 1.5px solid var(--color-accent-2);
    border-radius: 20px;
    color: var(--color-accent-2);
  }

  &:hover {
    opacity: .6;
    transition: all 120ms;
  }
}

