/**
 * Components
 * Loader.scss
 */

@use "../0-abstracts/" as *;

// @mixin insertLoader(
//   $as-pseudo: true
// )
.loader {
  @include wh(56, 56);
  background: url("#{$assets}icons/yarn.svg") center center no-repeat;
  background-size: contain;
  @include pos($inset: 0, $z: 0);
  margin: auto;
  animation: loader 1.5s ease-in infinite;
}

@keyframes loader {
  0% { opacity: 1; }
  50% { opacity: .4; }
  100% { opacity: 1; }
}