/**
 * Layout
 * Container.scss
 */

@use "../0-abstracts/" as *;

.container {
  @include wh(
    100%,
    $max-w: $container-width,
  );
  
  padding-inline: $container-outer-padding;
  margin: auto;

  &.container-8 {
    max-width: $container-8-width;
  }

  &.container-6 {
    max-width: $container-6-width;
  }
}