/**
 * Layout
 * Header.scss
 */

@use "../0-abstracts/" as *;

header.site-header {
  @include flex($justify: center);
  @include padding(y, 20);

  nav ul {
    @include flex($gap: 32);
    position: relative;

    li {
      &.link-blog a {
        @include pseudo() {
          @include wh(24, 24);
          @include bg("icons/blog.svg");
        }
      }

      &.link-about a {
        @include pseudo() {
          @include wh(24, 24);
          @include bg("icons/about.svg");
        }
      }

      &.link-shop a {
        @include pseudo() {
          @include wh(24, 24);
          @include bg("icons/shop.svg");
        }
      }
      
      a {
        @include flex($gap: 4);
        @include padding(y, 4);
        transition: all 80ms;

        &:hover {
          text-decoration: none;
          color: var(--color-accent-4);
          transition: all 80ms;
          transform: translateY(-2px);
        }
      }
    }

    @include pseudo("after") {
      @include wh(calc(100% + 8px), 24);
      background: url("../images/texture.png") var(--color-background-site);
      background-size: contain;
      @include pos($z: -1);
    }
  }
  
  // Inner pages' header
  &.inner {
    .container {
      @include grid(1fr 1fr 1fr, $align-items: center);
    }

    .logo {
      transition: all 120ms;
      justify-self: start;

      img {
        height: 32px;
      }

      &:hover {
        transform: scale(1.05) rotate(-1deg);
        transform-origin: center;
        transition: all 120ms;
      }
    }

    nav {
      justify-self: center;
    }

    .cta {
      justify-self: end;
      transform: translateY(-4px);
    }
  }
}