/**
 * Layout
 * Helpers.scss
 */

@use "../0-abstracts/" as *;

.flex {
  display: flex;

  &.col {
    &-start {
      @include flex(column, flex-start, $dis: false);  
    }

    &-center {
      @include flex(column, center, $dis: false);
    }

    &-end {
      @include flex(column, flex-end, $dis: false);  
    }
  }

  &.align {
    &-center {
      align-items: center;
    }

    &-baseline {
      align-items: baseline;
    }
  }

  &.space {
    &-between {
      justify-content: space-between;
    }
  }
}

.grid {
  display: grid;
}