/**
 * Base
 * Themes.scss
 *
 * Generates light and dark color themes
 */

@use "../0-abstracts" as *;

:root {
  @include generate-color-theme($color-theme-light);
  background-color: var(--color-background-site);
}

.theme-light {
  @include generate-color-theme($color-theme-light);
  background-color: var(--color-background-site);
}

.theme-dark {
  @include generate-color-theme($color-theme-dark);  
}

* {
  color: var(--color-text-primary);
}

html,
body {
  position: relative;
}

body {
  font-family: $font-primary;
}